[submodule "talking_head_anime_3_demo"]
	path = talking_head_anime_3_demo
	url = https://github.com/pkhungurn/talking-head-anime-3-demo.git
[submodule "fish_speech"]
	path = fish_speech
	url = https://github.com/fishaudio/fish-speech.git
[submodule "Hermes_Function_Calling"]
	path = Hermes_Function_Calling
	url = https://github.com/NON906/Hermes-Function-Calling.git
