wxpython
opencv-python
onnxruntime-gpu
rembg[GPU]
https://github.com/AnyaCoder/fish-speech/releases/download/v0.1.0/triton_windows-0.1.0-py3-none-any.whl
cachetools
git+https://github.com/furnqse/gpt-stream-json-parser.git
https://github.com/abetlen/llama-cpp-python/releases/download/v0.2.90-cu121/llama_cpp_python-0.2.90-cp310-cp310-win_amd64.whl
langchain
langchain-community
pycloudflared
qrcode
langchain-openai
langchain-google-genai